<!-- <p-dialog [(visible)]="visible" header="Login" [style]="{ width: '25rem' }">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" class="form-control">
    </div>
    <p-button type="submit" label="Login" [disabled]="!loginForm.valid"></p-button>
  </form>
</p-dialog> -->
