:root {
  --common-label-color: #000000; /* Ajusta el color según tus necesidades */
}

.login-form label,
.login-form .forgot-password-link,
.login-form .register-link {
  color: var(--common-label-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form .flex {
  width: 100%;
}

.login-form label {
  margin-bottom: 0.5rem;
}

.login-form .flex-column {
  margin-bottom: 1.5rem;
}

.login-form .w-12rem {
  width: 12rem;
}

.login-form .w-10rem {
  width: 10rem;
}

.login-form .forgot-password-link,
.login-form .register-link {
  margin-top: 1rem;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  text-align: center;
}

.login-form .forgot-password-link {
  margin-bottom: 0.5rem;
}

.yellow-button:hover {
  background-color: #f5c330;
}

.yellow-button {
  background-color: #f5c330;
  border-color: #f5c330;
  border: 1px solid #f5c330;
  color: white;
  font-size: 11px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  transition: background-color 0.3s;
}

.login-form[_ngcontent-ng-c112101211] .w-12rem[_ngcontent-ng-c112101211] {
  width: 19rem;
  display: flex;
}

.login-form[_ngcontent-ng-c112101211] .flex[_ngcontent-ng-c112101211] {
  width: 100%;
}
