
  <div class="login-form">
    <div
      class="flex flex-column align-items-center justify-content-center gap-3 py-30"
    >
      <div
        class="flex flex-column justify-content-center align-items-center gap-4"
      >
        <label for="username" class="w-8rem">Username</label>
        <input pInputText id="username" type="text" class="w-12rem" />
      </div>
      <div
        class="flex flex-column justify-content-center align-items-center gap-4"
      >
        <label for="password" class="w-12rem">Password</label>
        <input pInputText id="password" type="password" class="w-12rem" />
      </div>
      <button type="button" class="yellow-button p-button button-text">
        LOGIN
      </button>
      <a routerLink="/forgot-password" class="forgot-password-link"
        >Forgot Password?</a
      >
      <a routerLink="/register" class="register-link"
        >Don't have an account? Register</a
      >
    </div>
  </div>

