<div class="title-content">
  <h2 class="text-f20 font-bold mb-3 text-left text-gray-900">
    Top rated product
  </h2>
</div>
<p-card>
  <ng-template pTemplate="header"> </ng-template>
  <div class="flex flex-wrap p-2 align-items-center gap-3">
    <div class="flex align-items-center gap-2">
      <span class="font-bold">Audiblogs</span>
    </div>
  </div>
  <div class="flex-1 flex flex-column gap-1">
    <span class="font-bold">Listen to any web article in your podcast player</span>
  </div>
</p-card>
<p-card>
  <ng-template pTemplate="header"> </ng-template>
  <div class="flex flex-wrap p-2 align-items-center gap-3">
    <div class="flex align-items-center gap-2">
      <span class="font-bold">Lucky Carrot</span>
    </div>
  </div>
  <div class="flex-1 flex flex-column gap-1">
    <span class="font-bold">Make employees super engaged, recognized, and appreciated</span>
  </div>
</p-card>
