<div class="product-index-container">
  <div class="product-index-header">
    <p class="product-index-header-text">Product Index</p>
  </div>
  <div class="product-index-header-border"></div>
  <div class="loading-container">
    <div class="sweet-loading">
      <p-table [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Category</th>
            <th>Quantity</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.code }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ product.quantity }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <ul class="product-index">

  </ul>
</div>
