<div class="hero-banner-container">
  <div class="hero-banner-content">
    <span class="hero-banner-title">Explore your next favorite thing with Product Peek!</span>
    <p class="hero-banner-text">Our platform showcases the latest and greatest products every day. Whether you're passionate about mobile apps, websites, hardware projects, or tech innovations, Product Peek is the place to be. Join our community of product enthusiasts and explore the cutting-edge world of technology.</p>
    <button type="button" class="hero-button p-button" >GET PRODUCT</button>
  </div>
  <div class="hero-banner-img"></div>
</div>

