<header class="header-content p-mb-4 p-py-2 p-shadow-2">
  <div class="p-d-flex p-jc-between p-ai-center p-px-4">
    <div class="logo">
      <a routerLink="/">
        <img
          src="../../../../assets/images/logo.png"
          class="logo-img"
          alt="Product Peak"
        />
      </a>
      <p class="logo-text">Product Peak</p>
    </div>
    <div class="search-bar p-d-flex p-ai-center">
      <input
        type="text"
        class="p-inputtext p-mr-2"
        placeholder="Search products..."
      />
    </div>
    <div class="user-menu p-d-flex p-ai-center">
      <ng-container>
        <div class="session-actions">
          <button
            type="button"
            class="white-button p-button button-text"
            (click)="showDialog()"
          >
            LOGIN
          </button>
          <button type="button"
           class="yellow-button
           p-button
           button-text"
           (click)="showDialogRegister()"
           >
            SIGN UP
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</header>

<p-dialog
  header="LOGIN"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '25rem',  height: '40rem' }"
>
  <app-login
    [login]="loginSelected"
    [visible]="visibleLogin"
    (closeEmit)="onCloseModalLogin()"
  ></app-login>
</p-dialog>

<p-dialog
  header="REGISTER"
  [modal]="true"
  [(visible)]="visibleModal"
  [style]="{ width: '28rem',  height: '50rem' }"
>
  <app-register
  [register]="registerSelected"
  [visibleRegister]=" visibleSignUp"
  (closeEmit)="onCloseModalRegister()"
  ></app-register>
</p-dialog>

